apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-api
  namespace: iness
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java-api
  template:
    metadata:
      labels:
        app: java-api
    spec:
      containers:
        - name: java-api
          image: registry.digitalocean.com/iness/java-market:a8620ffdd3780f76fa9668f28eeb1695ac0cf9c4
          imagePullPolicy: Always
          ports:
            - containerPort: 8081
          env:
            - name: PYTHON_AGENT_BASE_URL
              value: "http://python-api:8000"
            - name: MARKET_BINANCE_STREAM_URL
              value: "wss://stream.binance.us:9443/ws/btcusdt@kline_1s"
---
apiVersion: v1
kind: Service
metadata:
  name: java-api
  namespace: iness
spec:
  selector:
    app: java-api
  ports:
    - port: 8081
      targetPort: 8081
  type: ClusterIP
