apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-api
  namespace: iness
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java-api
  template:
    metadata:
      labels:
        app: java-api
    spec:
      containers:
        - name: java-api
          image: registry.digitalocean.com/iness/java-market:9a8a2037ea08eb7c98e3483b88eec5b86e4f4573
          ports:
            - containerPort: 8081
          env:
            - name: PYTHON_AGENT_BASE_URL
              value: "http://python-api:8000"
---
apiVersion: v1
kind: Service
metadata:
  name: java-api
  namespace: iness
spec:
  selector:
    app: java-api
  ports:
    - port: 8081
      targetPort: 8081
  type: ClusterIP
