apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-api
  namespace: iness
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-api
  template:
    metadata:
      labels:
        app: python-api
    spec:
      containers:
        - name: python-api
          image: registry.digitalocean.com/iness/python-agent:latest
          ports:
            - containerPort: 8000
          env:
            - name: AGENT_INITIAL_BALANCE
              value: "10000"
---
apiVersion: v1
kind: Service
metadata:
  name: python-api
  namespace: iness
spec:
  selector:
    app: python-api
  ports:
    - port: 8000
      targetPort: 8000
  type: ClusterIP
