apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: iness
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: registry.digitalocean.com/iness/web-dashboard:9a387dc8509c6abb6ebccdbc97532edb30076292
          ports:
            - containerPort: 3000
          env:
            - name: NEXT_PUBLIC_API_BASE
              value: ""
---
apiVersion: v1
kind: Service
metadata:
  name: web
  namespace: iness
spec:
  selector:
    app: web
  ports:
    - port: 3000
      targetPort: 3000
  type: ClusterIP
